# Data Handling with pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
car_scrape = pd.read_csv("C:\Datasets\car_scrape4.csv")
car_scrape.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3176 entries, 0 to 3175
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         3176 non-null   object
 1   odometer      3176 non-null   int64
 2   location      3176 non-null   object
 3   isimported    3176 non-null   object
 4   engine        3176 non-null   object
 5   transmission  3176 non-null   object
 6   fuel          3176 non-null   object
 7   paint         3176 non-null   object
 8   price         3176 non-null   int64
 9   year          3176 non-null   int64
dtypes: int64(3), object(7)
memory usage: 248.3+ KB

In [3]:
# head of the dataset
car_scrape.head()

,title,odometer,location,isimported,engine,transmission,fuel,paint,price,year
0,Toyota Corolla,60127,Lagos,Locally used,4-cylinder(I4),automatic,petrol,Silver,1995000,2009
1,Acura MDX,132908,Lagos,Foreign Used,6-cylinder(V6),automatic,petrol,Whine,3315000,2009
2,Lexus ES 350,120412,Lagos,Locally used,6-cylinder(V6),automatic,petrol,Silver,2355000,2008
3,Mercedes-Benz GLK 350,67640,Lagos,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9915000,2013
4,Mercedes-Benz E 200,92440,Abuja,Foreign Used,4-cylinder(I4),automatic,petrol,Black,9790000,2013

In [6]:
# shape of the dataset
print('shape:', car_scrape.shape)

# checking for missing value
car_scrape[car_scrape.isnull()].any()

shape: (3176, 10)

title           False
odometer        False
location        False
isimported      False
engine          False
transmission    False
fuel            False
paint           False
price           False
year            False
dtype: bool

In [8]:
#cars value ccount 
car_scrape["title"].value_counts()

title
Toyota Camry           401
Toyota Corolla         342
Toyota Highlander      178
Toyota Sienna          170
Toyota RAV 4           128
                      ...
ALPINA B3                2
Audi S6                  2
Mercedes-Benz/52         2
Man 26-403               2
Mercedes-Benz S 450      2
Name: count, Length: 240, dtype: int64

In [9]:
# how many is foreign used, local used and new
print(car_scrape["isimported"].unique())

car_scrape["isimported"].value_counts()

['Locally used' 'Foreign Used' 'New ']

isimported
Foreign Used    2306
Locally used     782
New               88
Name: count, dtype: int64

In [10]:
# classify them base on engine
car_scrape['engine'].value_counts()

engine
4-cylinder(I4)      1935
6-cylinder(V6)       686
6-cylinder(I6)       369
8-cylinder(V8)       158
3-cylinder(I3)         9
5-cylinder(I5)         7
4-cylinder(H4)         5
2-cylinder(I2)         4
12-cylinder(V12)       3
Name: count, dtype: int64

In [11]:
car_scrape.groupby('location')['transmission'].value_counts().unstack().fillna(0)

transmission  automatic  manual
location
Abia                7.0     0.0
Abuja             440.0    18.0
Abuja               4.0     0.0
Accra               2.0     0.0
Adamawa             3.0     0.0
Lagos            2329.0   202.0
Lagos              73.0     0.0
Ogun               74.0    13.0
other              11.0     0.0